.header-sect {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-sect h1 {
    font-weight: 500;
    font-size: 26px;
    color: #F9F4DA
}

.header-sect p {
    font-size: 14px;
    color: #8E8E8E;
}