header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header h1 {
    font-weight: 500;
    font-size: 26px;
    color: #F9F4DA
}

.header p {
    font-size: 14px;
    color: #8E8E8E;
}

.game-status {
    margin: 20px 0 20px 0;
    background-color: #10A95B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 6px;
    color: #F9F4DA;
}

.game-status h2 {
    margin-bottom: 0;
}

.chips-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.chips-item {
    padding: 5px;
    border-radius: 6px;
}

.letter-box {
    display: flex;
    margin-top: 36px;
    justify-content: center;
    gap: 2px;
}

.letter-box-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 40px;
    height: 40px;
    border-bottom: 1px solid #F9F4DA;
    background-color: #323232;
    font-size: 1.125rem;
}

.keyboard-btn {
    background-color: #FCBA29;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.keyboard-section {
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    margin: 36px auto;
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}

button.correct {
    background-color: #10A95B;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}

button.wrong {
    background-color: #EC5D49;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
}
