header {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header h1 {
    font-weight: 500;
    font-size: 26px;
    color: #F9F4DA
}

.header p {
    font-size: 14px;
    color: #8E8E8E;
}

.game-status {
    margin: 20px 0 20px 0;
    background-color: #10A95B;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 6px;
    color: #F9F4DA;
}

.game-status h2 {
    margin-bottom: 0;
}

.chips-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.chips-item {
    padding: 5px;
    border-radius: 6px;
}